In [1]:
import pandas as pd
import cv2
import os
import shutil
import random

In [5]:
data_path = r'E:\middle_broken'
good_path = data_path + '/good/'
broken_path = data_path + '/middle_broken/'
target_path = data_path + '/middle_data/'

good_list = os.listdir(good_path)
print(len(good_list))
broken_list = os.listdir(broken_path)
print(len(broken_list))

73117
3611

In [6]:
df_empty = pd.DataFrame(columns=['id', 'good', 'defect'])

In [7]:
sampled_files = random.sample(good_list, 7000)

for file_name in sampled_files:
    shutil.copy(good_path + file_name, target_path + file_name)
    new_row = pd.DataFrame({'id': file_name, 'good': 1, 'defect': 0}, index=[0])
    df_empty = pd.concat([df_empty, new_row], ignore_index=True)
df_empty

                                                 id good defect
0       241015-04.3.6-A001_20241028202702_2_R_1.jpg    1      0
1     240925-07.10.11-A001_20241002044908_1_L_1.jpg    1      0
2       240903-03.I.J-B001_20240911035919_0_L_1.jpg    1      0
3     240930-07.26.27-A001_20241003000032_4_R_1.jpg    1      0
4     240904-02.11.12-A004_20240906231632_2_R_1.jpg    1      0
...                                             ...  ...    ...
6995    240902-06.3.4-A001_20241008061232_1_R_1.jpg    1      0
6996   240626-07.9.12-B001_20241001125056_3_R_1.jpg    1      0
6997  240910-09.28.26-B002_20240920034118_3_L_1.jpg    1      0
6998  240925-07.26.27-A001_20241001113908_3_R_1.jpg    1      0
6999  240920-07.17.20-A001_20241004172208_2_R_1.jpg    1      0

[7000 rows x 3 columns]

In [8]:
select_num = 1
for file_name in broken_list:

    image = cv2.imread(broken_path + file_name)
    
    if select_num % 2:
    ##플립 위아래
        ud_image = cv2.flip(image,0)
        cv2.imwrite(target_path +'ud_'+ file_name, ud_image)
        new_row = pd.DataFrame({'id': 'ud_'+ file_name, 'good': 0, 'defect': 1}, index=[0])
        df_empty = pd.concat([df_empty, new_row], ignore_index=True)
    else:
        ##플립 좌우
        lr_image = cv2.flip(image,1)
        cv2.imwrite(target_path +'lr_'+ file_name, lr_image)
        new_row = pd.DataFrame({'id': 'lr_'+ file_name, 'good': 0, 'defect': 1}, index=[0])
        df_empty = pd.concat([df_empty, new_row], ignore_index=True)

    shutil.copy(broken_path + file_name, target_path + file_name)
    new_row = pd.DataFrame({'id': file_name, 'good': 0, 'defect': 1}, index=[0])
    df_empty = pd.concat([df_empty, new_row], ignore_index=True)

    select_num += 1

df_empty

                                                  id good defect
0        241015-04.3.6-A001_20241028202702_2_R_1.jpg    1      0
1      240925-07.10.11-A001_20241002044908_1_L_1.jpg    1      0
2        240903-03.I.J-B001_20240911035919_0_L_1.jpg    1      0
3      240930-07.26.27-A001_20241003000032_4_R_1.jpg    1      0
4      240904-02.11.12-A004_20240906231632_2_R_1.jpg    1      0
...                                              ...  ...    ...
14217                  test_20241023174451_2_R_1.jpg    0      1
14218               lr_test_20241023174451_3_R_1.jpg    0      1
14219                  test_20241023174451_3_R_1.jpg    0      1
14220               ud_test_20241023174451_4_R_1.jpg    0      1
14221                  test_20241023174451_4_R_1.jpg    0      1

[14222 rows x 3 columns]

In [9]:
df_empty.to_csv('csvs/middle241106.csv', index=False)