In [5]:
import pandas as pd
import cv2
import os
import shutil
import random

In [2]:
data_path = r'E:\middle_broken'
good_path = data_path + '/good/'
broken_path = data_path + '/middle_broken/'
target_path = data_path + '/middle_data/'

good_list = os.listdir(good_path)
print(len(good_list))
broken_list = os.listdir(broken_path)
print(len(broken_list))

6583
3611

In [3]:
df_empty = pd.DataFrame(columns=['id', 'good', 'defect'])

In [6]:
sampled_files = random.sample(good_list, 4000)

for file_name in sampled_files:
    shutil.copy(good_path + file_name, target_path + file_name)
    new_row = pd.DataFrame({'id': file_name, 'good': 1, 'defect': 0}, index=[0])
    df_empty = pd.concat([df_empty, new_row], ignore_index=True)
df_empty

                                                 id good defect
0     230817-07.25.28-B002_20240828095726_2_L_1.jpg    0      1
1     230817-07.25.28-B002_20240828095942_0_L_1.jpg    0      1
2     230817-07.25.28-B002_20240828100810_3_R_1.jpg    0      1
3     230817-07.26.27-B001_20240828103818_0_R_1.jpg    0      1
4     230825-07.22.23-A008_20240902151836_2_R_1.jpg    0      1
...                                             ...  ...    ...
7606  240912-09.14.15-A003_20240920043428_3_L_1.jpg    1      0
7607    240829-03.G.H-B001_20240910164104_0_R_1.jpg    1      0
7608    240903-03.G.H-B001_20240911033612_3_L_1.jpg    1      0
7609    240828-04.4.5-A001_20240910105808_3_L_1.jpg    1      0
7610  240827-09.20.21-A005_20240920015325_3_L_1.jpg    1      0

[7611 rows x 3 columns]

In [4]:
for file_name in broken_list:

    image = cv2.imread(broken_path + file_name)
    
    #플립 위아래
    # ud_image = cv2.flip(image,0)
    # cv2.imwrite(target_path +'ud_'+ file_name, ud_image)
    # new_row = pd.DataFrame({'id': 'ud_'+ file_name, 'good': 0, 'defect': 1}, index=[0])
    # df_empty = pd.concat([df_empty, new_row], ignore_index=True)

    #플립 좌우
    # lr_image = cv2.flip(image,1)
    # cv2.imwrite(target_path +'lr_'+ file_name, lr_image)
    # new_row = pd.DataFrame({'id': 'lr_'+ file_name, 'good': 0, 'defect': 1}, index=[0])
    # df_empty = pd.concat([df_empty, new_row], ignore_index=True)

    shutil.copy(broken_path + file_name, target_path + file_name)
    new_row = pd.DataFrame({'id': file_name, 'good': 0, 'defect': 1}, index=[0])
    df_empty = pd.concat([df_empty, new_row], ignore_index=True)

df_empty

                                                 id good defect
0     230817-07.25.28-B002_20240828095726_2_L_1.jpg    0      1
1     230817-07.25.28-B002_20240828095942_0_L_1.jpg    0      1
2     230817-07.25.28-B002_20240828100810_3_R_1.jpg    0      1
3     230817-07.26.27-B001_20240828103818_0_R_1.jpg    0      1
4     230825-07.22.23-A008_20240902151836_2_R_1.jpg    0      1
...                                             ...  ...    ...
3606                  test_20241023174451_0_R_1.jpg    0      1
3607                  test_20241023174451_1_R_1.jpg    0      1
3608                  test_20241023174451_2_R_1.jpg    0      1
3609                  test_20241023174451_3_R_1.jpg    0      1
3610                  test_20241023174451_4_R_1.jpg    0      1

[3611 rows x 3 columns]

In [7]:
df_empty.to_csv('csvs/middle_noaug_241106.csv', index=False)