In [2]:
import pandas as pd
import os
import tqdm
import shutil

In [3]:
directory_path = "e:/polar_data/"
df_2d = pd.read_csv( directory_path + '2D.csv')
df_1d = pd.read_csv( directory_path + '1D.csv')

In [4]:
df_2d

                                                  id  good  bubble  edge
0       +240201-05.2.5-A001_20240202201444_3_R_1.jpg     0       0     1
1       +240201-05.2.5-A001_20240202201534_3_R_1.jpg     0       0     0
2       +240201-05.2.5-A001_20240202201623_3_R_1.jpg     0       0     0
3       +240201-05.2.5-A001_20240202201649_2_L_1.jpg     0       0     1
4       +240201-05.2.5-A001_20240202201751_1_R_1.jpg     1       0     0
...                                              ...   ...     ...   ...
165492                 None_20240516093106_0_R_1.jpg     1       0     0
165493                 None_20240516093106_4_R_1.jpg     1       0     0
165494                 None_20240516093155_3_R_1.jpg     1       0     0
165495                 None_20240516093155_4_L_1.jpg     1       0     0
165496                 None_20240516093220_4_R_1.jpg     1       0     0

[165497 rows x 4 columns]

In [5]:
def check_files(dire,fname):
    file_path = os.path.join(dire, fname)
    return os.path.exists(file_path)

not_exist_list = []
for rows in tqdm.tqdm(df_2d.itertuples(), total=len(df_2d)):
    if check_files(directory_path + '2D', rows.id):
        continue
    else:
        not_exist_list.append(rows.id)
print('2D 존재하지않는 파일수 : ', not_exist_list)

not_exist_list = []
for rows in tqdm.tqdm(df_1d.itertuples(), total=len(df_1d)):
    if check_files(directory_path + '1D', rows.id):
        continue
    else:
        not_exist_list.append(rows.id)
print('1D 존재하지않는 파일수 : ', not_exist_list)

  0%|          | 0/165497 [00:00<?, ?it/s]

100%|██████████| 165497/165497 [00:10<00:00, 15835.70it/s]

2D 존재하지않는 파일수 :  ['#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?']

100%|██████████| 194623/194623 [00:12<00:00, 15692.41it/s]

1D 존재하지않는 파일수 :  ['#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?', '#NAME?']

In [6]:
df_2d_good = df_2d[df_2d['good'] == 1]
df_2d_bubble = df_2d[df_2d['bubble'] == 1]
df_2d_edge = df_2d[df_2d['edge'] == 1]
df_2d_wrong = df_2d[(df_2d['good'] == 1) & ((df_2d['edge'] == 1) | (df_2d['bubble'] == 1))]
df_2d_notcheck = df_2d[(df_2d['good'] == 0) & (df_2d['edge'] == 0) & (df_2d['bubble'] == 0)]

print('총개수', len(df_2d))
print('good', len(df_2d_good))
print('bubble', len(df_2d_bubble))
print('edge', len(df_2d_edge))
print('잘못체크됨', len(df_2d_wrong))
print('체크안됨', len(df_2d_notcheck))

총개수 165497
good 152154
bubble 3984
edge 9360
잘못체크됨 2
체크안됨 2

In [7]:
for rows in tqdm.tqdm(df_2d_notcheck.itertuples(), total=len(df_2d_notcheck)):
    if check_files(directory_path + '2D', rows.id):
        shutil.copy(directory_path + '2D/' + rows.id, directory_path + 'check/' + rows.id)
    else:
        print("???")

100%|██████████| 2/2 [00:00<00:00, 100.81it/s]

In [8]:
df_1d_good = df_1d[df_1d['good'] == 1]
df_1d_bubble = df_1d[df_1d['bubble'] == 1]
df_1d_edge = df_1d[df_1d['edge'] == 1]
df_1d_wrong = df_1d[(df_1d['good'] == 1) & ((df_1d['edge'] == 1) | (df_1d['bubble'] == 1))]
df_1d_notcheck = df_1d[(df_1d['good'] == 0) & (df_1d['edge'] == 0) & (df_1d['bubble'] == 0)]


print('good', len(df_1d_good))
print('bubble', len(df_1d_bubble))
print('edge', len(df_1d_edge))
print('잘못체크됨', len(df_1d_wrong))
print('체크안됨', len(df_1d_notcheck))

good 157728
bubble 17325
edge 19590
잘못체크됨 12
체크안됨 2

In [9]:
for rows in tqdm.tqdm(df_1d_wrong.itertuples(), total=len(df_1d_wrong)):
    if check_files(directory_path + '1D', rows.id):
        shutil.copy(directory_path + '1D/' + rows.id, directory_path + 'check/' + rows.id)
    else:
        print("???")

100%|██████████| 12/12 [00:00<00:00, 212.29it/s]

In [16]:
ogirin_sec_dataset = pd.read_csv('csvs/dataset_sec_full3_20240208.csv')

to_path = r'E:\claassifier\images_sec_add20240812'
ogirin_sec_dataset

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
176133                udNone_20231221155448_1_R_1.jpg     0       1        0
176134                lrNone_20231221155500_0_L_1.jpg     0       1        0
176135                udNone_20231221155500_0_L_1.jpg     0       1        0
176136                lrNone_20231221160359_1_L_1.jpg     0       1        0
176137                udNone_20231221160359_1_L_1.jpg     0       1        0

[176138 rows x 4 columns]

In [22]:
from_path = r'E:\polar_data'
add_df = pd.DataFrame(columns=ogirin_sec_dataset.columns)
data_sets = [
    {'id': df_1d_bubble.id, 'good': 0, 'defect': 1, 'no_lens': 0},
    {'id': df_2d_bubble.id, 'good': 0, 'defect': 1, 'no_lens': 0},
    {'id': df_1d_edge.id, 'good': 0, 'defect': 1, 'no_lens': 0},
    {'id': df_2d_edge.id, 'good': 0, 'defect': 1, 'no_lens': 0},
    {'id': df_1d_good.sample(n=36000, random_state=42).id, 'good': 1, 'defect': 0, 'no_lens': 0},
    {'id': df_2d_good.sample(n=13000, random_state=42).id, 'good': 1, 'defect': 0, 'no_lens': 0},
]

# 반복문을 통해 데이터 추가
for data in data_sets:
    temp_df = pd.DataFrame(data)  # 각 데이터셋을 DataFrame으로 변환
    add_df = pd.concat([add_df, temp_df], ignore_index=True)
    
add_df = add_df.drop_duplicates()
add_df

                                                   id good defect no_lens
0      .240418-05.26.29-A001_20240429112600_4_R_1.jpg    0      1       0
1       200825-05.17.22-B001_20240105235451_0_R_1.jpg    0      1       0
2       200825-05.17.22-B001_20240105235700_0_L_1.jpg    0      1       0
3       200825-05.17.22-B001_20240105235700_0_R_1.jpg    0      1       0
4       200825-05.17.22-B001_20240105235711_0_R_1.jpg    0      1       0
...                                               ...  ...    ...     ...
99254    240514-04.9.16-A001_20240517030249_3_R_1.jpg    1      0       0
99255     240229-04.4.5-B001_20240305141950_1_R_1.jpg    1      0       0
99256    240320-06.9.14-B001_20240322200813_1_R_1.jpg    1      0       0
99257   240329-05.10.13-A001_20240402030509_3_L_1.jpg    1      0       0
99258   240206-08.14.15-A002_20240208043117_4_L_1.jpg    1      0       0

[99243 rows x 4 columns]

In [23]:
#add_df.to_csv('csvs/dataset_sec_add20240812.csv', index=False)

In [41]:
add_df = pd.read_csv('csvs/dataset_sec_add20240812.csv')
add_df

                                                   id  good  defect  no_lens
0      .240418-05.26.29-A001_20240429112600_4_R_1.jpg     0       1        0
1       200825-05.17.22-B001_20240105235451_0_R_1.jpg     0       1        0
2       200825-05.17.22-B001_20240105235700_0_L_1.jpg     0       1        0
3       200825-05.17.22-B001_20240105235700_0_R_1.jpg     0       1        0
4       200825-05.17.22-B001_20240105235711_0_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
99236    240514-04.9.16-A001_20240517030249_3_R_1.jpg     1       0        0
99237     240229-04.4.5-B001_20240305141950_1_R_1.jpg     1       0        0
99238    240320-06.9.14-B001_20240322200813_1_R_1.jpg     1       0        0
99239   240329-05.10.13-A001_20240402030509_3_L_1.jpg     1       0        0
99240   240206-08.14.15-A002_20240208043117_4_L_1.jpg     1       0        0

[99241 rows x 4 columns]

In [42]:
addfull_df = pd.concat([ogirin_sec_dataset, add_df], ignore_index=True)
addfull_df
#addfull_df.to_csv('csvs/dataset_sec_full20240812.csv', index=False)

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
275374   240514-04.9.16-A001_20240517030249_3_R_1.jpg     1       0        0
275375    240229-04.4.5-B001_20240305141950_1_R_1.jpg     1       0        0
275376   240320-06.9.14-B001_20240322200813_1_R_1.jpg     1       0        0
275377  240329-05.10.13-A001_20240402030509_3_L_1.jpg     1       0        0
275378  240206-08.14.15-A002_20240208043117_4_L_1.jpg     1       0        0

[275379 rows x 4 columns]

In [38]:
rows_to_drop = []
for rows in add_df.itertuples():
    if os.path.isfile(from_path + '/1D/' + rows.id):
        continue
    elif os.path.isfile(from_path + '/2D/' + rows.id):
        continue
    else:
        rows_to_drop.append(rows.Index) 
add_df = add_df.drop(rows_to_drop).reset_index(drop=True)

In [43]:
#add_df.to_csv('csvs/dataset_sec_add20240812.csv', index=False)
addfull_df.sum()

id         210928-06.3.4-A001_20240131063150_1_R_1.jpg211...
good                                                  137828
defect                                                134846
no_lens                                                 2705
dtype: object

In [79]:
addfull_df = pd.read_csv('csvs/dataset_sec_full20240812.csv')
addfull_df = addfull_df.drop_duplicates()
addfull_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
275374   240514-04.9.16-A001_20240517030249_3_R_1.jpg     1       0        0
275375    240229-04.4.5-B001_20240305141950_1_R_1.jpg     1       0        0
275376   240320-06.9.14-B001_20240322200813_1_R_1.jpg     1       0        0
275377  240329-05.10.13-A001_20240402030509_3_L_1.jpg     1       0        0
275378  240206-08.14.15-A002_20240208043117_4_L_1.jpg     1       0        0

[275127 rows x 4 columns]

In [81]:
#######################파일에서 추가
add_path = r'E:\claassifier\images_polar'
os.listdir(add_path)
add_path2 = r'E:\claassifier\images_add20240813중앙깨짐찍힘'
os.listdir(add_path2)

['240625-06.1.6-A004_20240701142625_0_L_1.jpg',
 '240627-08.10.11-B002_20240701141716_2_L_1.jpg',
 '240627-08.10.11-B002_20240701142043_4_R_1.jpg',
 '240627-08.10.11-B002_20240701142411_2_R_1.jpg',
 '240627-08.10.11-B002_20240701142625_0_L_1.jpg',
 '240713-09.1.8.6-B001_20240724000902_2_L_1.jpg',
 '240718-07.14.15-A002_20240724000816_3_L_1.jpg',
 '240718-08.12.13-B001_20240723053624_3_R_1.jpg',
 '240719-08.4.5-A001_20240726235927_0_L_1.jpg',
 '240726-02.9.10-A002_20240808020327_2_L_1.jpg',
 '240726-06.10.13-A001_20240807032007_3_R_1.jpg',
 '240727-08.4.5-B001_20240808093446_1_R_1.jpg',
 '240730-04.11.14-B001_20240808224355_2_L_1.jpg',
 '240730-04.12.13-B001_20240809024903_4_R_1.jpg',
 '240730-09.1.8.6-B003_20240808071921_2_L_1.jpg',
 '240730-09.12.13-B003_20240808053513_2_R_1.jpg',
 '240730-09.12.13-B003_20240808063907_3_L_1.jpg',
 '240730-09.12.13-B003_20240808065047_0_R_1.jpg',
 '240730-09.12.13-B003_20240808065443_1_L_1.jpg',
 '240730-09.14.15-B003_20240808093038_2_L_1.jpg',
 '240730-09.14.15-B003_20240808093446_1_R_1.jpg',
 '240730-09.14.15-B004_20240808071921_2_L_1.jpg',
 '240730-09.20.21-B003_20240808152213_2_L_1.jpg',
 '240730-09.28.26-B003_20240808103849_0_L_1.jpg',
 '240730-09.4.5.2-A002_20240808065047_0_R_1.jpg',
 '240731-08.10.11-B002_20240808093038_2_L_1.jpg',
 '240806-05.31.32-A001_20240810000745_3_L_1.jpg',
 '240807-07.1.4-B001_20240808162224_1_R_1.jpg']

In [82]:
data_sets = [
    {'id': os.listdir(add_path), 'good': 0, 'defect': 1, 'no_lens': 0},
    {'id': os.listdir(add_path2), 'good': 0, 'defect': 1, 'no_lens': 0}
]

# 반복문을 통해 데이터 추가
for data in data_sets:
    temp_df = pd.DataFrame(data)  # 각 데이터셋을 DataFrame으로 변환
    addfull_df = pd.concat([addfull_df, temp_df], ignore_index=True)
    
addfull_df = addfull_df.drop_duplicates()
addfull_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
275774  240730-09.28.26-B003_20240808103849_0_L_1.jpg     0       1        0
275775  240730-09.4.5.2-A002_20240808065047_0_R_1.jpg     0       1        0
275776  240731-08.10.11-B002_20240808093038_2_L_1.jpg     0       1        0
275777  240806-05.31.32-A001_20240810000745_3_L_1.jpg     0       1        0
275778    240807-07.1.4-B001_20240808162224_1_R_1.jpg     0       1        0

[275467 rows x 4 columns]

In [83]:
addfull_df.to_csv('csvs/dataset_sec_full20240812.csv', index=False)