In [1]:
import pandas as pd
import cv2
import os
import shutil
import random

In [3]:
original_df = pd.read_csv('../csvs/dataset_sec_full20240812.csv')
original_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
275462  240730-09.28.26-B003_20240808103849_0_L_1.jpg     0       1        0
275463  240730-09.4.5.2-A002_20240808065047_0_R_1.jpg     0       1        0
275464  240731-08.10.11-B002_20240808093038_2_L_1.jpg     0       1        0
275465  240806-05.31.32-A001_20240810000745_3_L_1.jpg     0       1        0
275466    240807-07.1.4-B001_20240808162224_1_R_1.jpg     0       1        0

[275467 rows x 4 columns]

In [5]:
middle_df = pd.read_csv('../csvs/middle.csv')
middle_df['no_lens'] = 0
middle_df

                                                  id  good  defect  no_lens
0      240805-06.11.12-A001_20240910135639_1_R_1.jpg     1       0        0
1      240805-06.11.12-A001_20240910135651_1_R_1.jpg     1       0        0
2      240805-06.11.12-A001_20240910135703_1_R_1.jpg     1       0        0
3      240805-06.11.12-A001_20240910135703_2_R_1.jpg     1       0        0
4      240805-06.11.12-A001_20240910135807_0_R_1.jpg     1       0        0
...                                              ...   ...     ...      ...
13572               lr_test_20240902142712_3_R_1.jpg     0       1        0
13573                  test_20240902142712_3_R_1.jpg     0       1        0
13574               ud_test_20240902142712_4_R_1.jpg     0       1        0
13575               lr_test_20240902142712_4_R_1.jpg     0       1        0
13576                  test_20240902142712_4_R_1.jpg     0       1        0

[13577 rows x 4 columns]

In [9]:
new_sec_df = pd.concat([original_df, middle_df], ignore_index=True)
new_sec_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
289039               lr_test_20240902142712_3_R_1.jpg     0       1        0
289040                  test_20240902142712_3_R_1.jpg     0       1        0
289041               ud_test_20240902142712_4_R_1.jpg     0       1        0
289042               lr_test_20240902142712_4_R_1.jpg     0       1        0
289043                  test_20240902142712_4_R_1.jpg     0       1        0

[289044 rows x 4 columns]

In [ ]:
# new_sec_df.to_csv('../csvs/dataset_sec_full20241115.csv', index=False)

In [2]:
sec_df = pd.read_csv('../csvs/dataset_sec_full20241115.csv')
sec_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
289039               lr_test_20240902142712_3_R_1.jpg     0       1        0
289040                  test_20240902142712_3_R_1.jpg     0       1        0
289041               ud_test_20240902142712_4_R_1.jpg     0       1        0
289042               lr_test_20240902142712_4_R_1.jpg     0       1        0
289043                  test_20240902142712_4_R_1.jpg     0       1        0

[289044 rows x 4 columns]

In [3]:
filtered_df = sec_df[~sec_df['id'].str.contains('ud|lr|rotation')]
filtered_df = filtered_df[filtered_df['no_lens'] == 0]
filtered_df.sum()

id         210928-06.3.4-A001_20240131063150_1_R_1.jpg211...
good                                                  140278
defect                                                118637
no_lens                                                    0
dtype: object

In [5]:
# new_sec_binary_df = filtered_df[['id', 'good', 'defect']]
# new_sec_binary_df.to_csv('../csvs/dataset_sec_full_binary_20250204.csv', index=False)

In [2]:
new_sec_binary_df = pd.read_csv('../csvs/dataset_sec_full_binary_20250204.csv')
new_sec_binary_df

                                                   id  good  defect
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1
...                                               ...   ...     ...
258910                  test_20240902142712_0_R_1.jpg     0       1
258911                  test_20240902142712_1_R_1.jpg     0       1
258912                  test_20240902142712_2_R_1.jpg     0       1
258913                  test_20240902142712_3_R_1.jpg     0       1
258914                  test_20240902142712_4_R_1.jpg     0       1

[258915 rows x 3 columns]

In [3]:
new_sec_binary_df['defect'].unique()

array([1, 0], dtype=int64)

In [7]:
good_ssslist = os.listdir(r"E:\lenseImage\20250218adddata\good")
data = {'filename' : good_ssslist}
goodoridf = pd.DataFrame(data)

In [9]:
# 날짜를 추출하는 함수
def extract_date(filename):
    return filename.split('_')[1]

# 날짜 열 추가
goodoridf['date'] = goodoridf['filename'].apply(extract_date)

# 날짜 열을 datetime 형식으로 변환
goodoridf['date'] = pd.to_datetime(goodoridf['date'], format='%Y%m%d%H%M%S')

# 날짜로 정렬
df_sorted = goodoridf.sort_values('date', ascending=False)
df_sorted

                                            filename                date
83136  241227-09.4.5.2-B001_20250122172012_2_L_1.jpg 2025-01-22 17:20:12
83135  241227-09.4.5.2-B001_20250122171820_2_L_1.jpg 2025-01-22 17:18:20
83134  241227-09.4.5.2-B001_20250122171808_4_L_1.jpg 2025-01-22 17:18:08
83133  241227-09.4.5.2-B001_20250122171808_0_L_1.jpg 2025-01-22 17:18:08
83132  241227-09.4.5.2-B001_20250122171607_0_L_1.jpg 2025-01-22 17:16:07
...                                              ...                 ...
8911    240822-06.9.14-A001_20240902112649_0_R_1.jpg 2024-09-02 11:26:49
8912    240822-06.9.14-A001_20240902112649_1_L_1.jpg 2024-09-02 11:26:49
8913    240822-06.9.14-A001_20240902112649_1_R_1.jpg 2024-09-02 11:26:49
8909    240822-06.9.14-A001_20240902112638_2_R_1.jpg 2024-09-02 11:26:38
8910    240822-06.9.14-A001_20240902112638_4_R_1.jpg 2024-09-02 11:26:38

[91300 rows x 2 columns]

In [14]:
# good_df = df_sorted[:10000]
good_df = pd.DataFrame(columns=new_sec_binary_df.columns)
good_df['id'] = df_sorted['filename'][:10000]
good_df['good'] = 1
good_df['defect'] = 0

In [15]:
good_df

                                                  id  good  defect
83136  241227-09.4.5.2-B001_20250122172012_2_L_1.jpg     1       0
83135  241227-09.4.5.2-B001_20250122171820_2_L_1.jpg     1       0
83134  241227-09.4.5.2-B001_20250122171808_4_L_1.jpg     1       0
83133  241227-09.4.5.2-B001_20250122171808_0_L_1.jpg     1       0
83132  241227-09.4.5.2-B001_20250122171607_0_L_1.jpg     1       0
...                                              ...   ...     ...
51885   240927-08.9.16-A004_20250108081629_3_R_1.jpg     1       0
51884   240927-08.9.16-A004_20250108081617_0_R_1.jpg     1       0
51883   240927-08.9.16-A004_20250108081600_2_R_1.jpg     1       0
51882   240927-08.9.16-A004_20250108081525_0_R_1.jpg     1       0
51881   240927-08.9.16-A004_20250108081502_0_R_1.jpg     1       0

[10000 rows x 3 columns]

In [17]:
defect_list = os.listdir(r'E:\lenseImage\20250218adddata\defect')
defect_data = {'id':defect_list}
defect_df = pd.DataFrame(data=defect_data)
defect_df['good'] = 0
defect_df['defect'] = 1

In [18]:
defect_df

                                                      id  good  defect
0                            01_20240715214912_4_L_1.jpg     0       1
1          221020-07.26.27-a003_20240703121317_4_L_1.jpg     0       1
2          221020-07.26.27-a003_20240703121714_2_R_1.jpg     0       1
3          221027-07.29.32-A001_20240626175347_2_R_1.jpg     0       1
4      221124-07.2.3-A002240613-09.22.23-B002_2024062...     0       1
...                                                  ...   ...     ...
10200                      test_20241023174451_0_R_1.jpg     0       1
10201                      test_20241023174451_1_R_1.jpg     0       1
10202                      test_20241023174451_2_R_1.jpg     0       1
10203                      test_20241023174451_3_R_1.jpg     0       1
10204                      test_20241023174451_4_R_1.jpg     0       1

[10205 rows x 3 columns]

In [23]:
add_df = pd.concat([good_df, defect_df], ignore_index=True)
add_df.duplicated('id').sum()
print(len(add_df))
add_ddf = add_df.drop_duplicates('id', keep=False)
add_ddf

20205

                                                  id  good  defect
0      241227-09.4.5.2-B001_20250122172012_2_L_1.jpg     1       0
1      241227-09.4.5.2-B001_20250122171820_2_L_1.jpg     1       0
2      241227-09.4.5.2-B001_20250122171808_4_L_1.jpg     1       0
3      241227-09.4.5.2-B001_20250122171808_0_L_1.jpg     1       0
4      241227-09.4.5.2-B001_20250122171607_0_L_1.jpg     1       0
...                                              ...   ...     ...
20200                  test_20241023174451_0_R_1.jpg     0       1
20201                  test_20241023174451_1_R_1.jpg     0       1
20202                  test_20241023174451_2_R_1.jpg     0       1
20203                  test_20241023174451_3_R_1.jpg     0       1
20204                  test_20241023174451_4_R_1.jpg     0       1

[20193 rows x 3 columns]

In [24]:
#add_ddf.to_csv('../csvs/dataset_sec_add20250218.csv', index=False)

In [31]:
new_df = pd.concat([new_sec_binary_df, add_ddf], ignore_index=True)
new_df = new_df.drop_duplicates('id', keep=False)
# new_df.to_csv('../csvs/dataset_sec_full_binary_20250218.csv', index=False)

In [32]:
new_df.sum()

id        210928-06.3.4-A001_20240131063150_1_R_1.jpg211...
good                                                 150178
defect                                               123425
dtype: object