In [2]:
import pandas as pd
import cv2
import os
import shutil
import random

In [3]:
original_df = pd.read_csv('../csvs/dataset_sec_full20240812.csv')
original_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
275462  240730-09.28.26-B003_20240808103849_0_L_1.jpg     0       1        0
275463  240730-09.4.5.2-A002_20240808065047_0_R_1.jpg     0       1        0
275464  240731-08.10.11-B002_20240808093038_2_L_1.jpg     0       1        0
275465  240806-05.31.32-A001_20240810000745_3_L_1.jpg     0       1        0
275466    240807-07.1.4-B001_20240808162224_1_R_1.jpg     0       1        0

[275467 rows x 4 columns]

In [5]:
middle_df = pd.read_csv('../csvs/middle.csv')
middle_df['no_lens'] = 0
middle_df

                                                  id  good  defect  no_lens
0      240805-06.11.12-A001_20240910135639_1_R_1.jpg     1       0        0
1      240805-06.11.12-A001_20240910135651_1_R_1.jpg     1       0        0
2      240805-06.11.12-A001_20240910135703_1_R_1.jpg     1       0        0
3      240805-06.11.12-A001_20240910135703_2_R_1.jpg     1       0        0
4      240805-06.11.12-A001_20240910135807_0_R_1.jpg     1       0        0
...                                              ...   ...     ...      ...
13572               lr_test_20240902142712_3_R_1.jpg     0       1        0
13573                  test_20240902142712_3_R_1.jpg     0       1        0
13574               ud_test_20240902142712_4_R_1.jpg     0       1        0
13575               lr_test_20240902142712_4_R_1.jpg     0       1        0
13576                  test_20240902142712_4_R_1.jpg     0       1        0

[13577 rows x 4 columns]

In [9]:
new_sec_df = pd.concat([original_df, middle_df], ignore_index=True)
new_sec_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
289039               lr_test_20240902142712_3_R_1.jpg     0       1        0
289040                  test_20240902142712_3_R_1.jpg     0       1        0
289041               ud_test_20240902142712_4_R_1.jpg     0       1        0
289042               lr_test_20240902142712_4_R_1.jpg     0       1        0
289043                  test_20240902142712_4_R_1.jpg     0       1        0

[289044 rows x 4 columns]

In [ ]:
# new_sec_df.to_csv('../csvs/dataset_sec_full20241115.csv', index=False)

In [4]:
sec_df = pd.read_csv('../csvs/dataset_sec_full20241115.csv')
sec_df

                                                   id  good  defect  no_lens
0         210928-06.3.4-A001_20240131063150_1_R_1.jpg     0       1        0
1        211285-05.9.14-A002_20240131054210_0_R_1.jpg     0       1        0
2        211285-05.9.14-A002_20240131054210_2_R_1.jpg     0       1        0
3         220824-05.2.5-A002_20231229022825_2_L_1.jpg     0       1        0
4       221122-07.30.31-B001_20240124190550_1_R_1.jpg     0       1        0
...                                               ...   ...     ...      ...
289039               lr_test_20240902142712_3_R_1.jpg     0       1        0
289040                  test_20240902142712_3_R_1.jpg     0       1        0
289041               ud_test_20240902142712_4_R_1.jpg     0       1        0
289042               lr_test_20240902142712_4_R_1.jpg     0       1        0
289043                  test_20240902142712_4_R_1.jpg     0       1        0

[289044 rows x 4 columns]

In [6]:
filtered_df = sec_df[~sec_df['id'].str.contains('ud|lr|rotation')]

filtered_df.sum()

id         210928-06.3.4-A001_20240131063150_1_R_1.jpg211...
good                                                  140278
defect                                                118637
no_lens                                                 2705
dtype: object