In [1]:
import pandas as pd

In [2]:
original_df = pd.read_csv('csvs/dataset.csv')
original_df

,id,good,b_edge,burr,borken,b_bubble,etc,no_lens
0,01-2.jpg,0,0,0,0,1,0,0
1,lr01-2.jpg,0,0,0,0,1,0,0
2,ud01-2.jpg,0,0,0,0,1,0,0
3,lrud01-2.jpg,0,0,0,0,1,0,0
4,02-2.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
22140,lr20230418171941_3_L_0frotate_13.jpg,0,0,0,0,0,0,1
22141,lr20230418171941_3_L_0frotate_14.jpg,0,0,0,0,0,0,1
22142,lr20230418171941_3_L_0frotate_15.jpg,0,0,0,0,0,0,1
22143,lr20230418171941_3_L_0frotate_16.jpg,0,0,0,0,0,0,1
22144,lr20230418171941_3_L_0frotate_17.jpg,0,0,0,0,0,0,1

In [14]:
filtered_df = original_df[~original_df['id'].str.startswith(('lr', 'ud')) & ~original_df['id'].str.contains('rotate')]
filtered_df.reset_index(drop=True, inplace=True)
filtered_df

,id,good,b_edge,burr,borken,b_bubble,etc,no_lens
0,01-2.jpg,0,0,0,0,1,0,0
1,02-2.jpg,0,0,0,0,1,0,0
2,03-2.jpg,0,0,0,0,1,0,0
3,04-2.jpg,0,0,0,0,1,0,0
4,05-2.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
9975,20230418171155_4_R_0.jpg,0,0,0,0,0,0,1
9976,20230418171507_2_L_0.jpg,0,0,0,0,0,0,1
9977,20230418171639_2_L_0.jpg,0,0,0,0,0,0,1
9978,20230418171826_3_L_0.jpg,0,0,0,0,0,0,1
9979,20230418171941_3_L_0.jpg,0,0,0,0,0,0,1

In [15]:
droped_df = original_df[original_df['id'].str.startswith(('lr', 'ud')) | original_df['id'].str.contains('rotate')]
droped_df.reset_index(drop=True, inplace=True)
droped_df

,id,good,b_edge,burr,borken,b_bubble,etc,no_lens
0,lr01-2.jpg,0,0,0,0,1,0,0
1,ud01-2.jpg,0,0,0,0,1,0,0
2,lrud01-2.jpg,0,0,0,0,1,0,0
3,lr02-2.jpg,0,0,0,0,1,0,0
4,ud02-2.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
12160,lr20230418171941_3_L_0frotate_13.jpg,0,0,0,0,0,0,1
12161,lr20230418171941_3_L_0frotate_14.jpg,0,0,0,0,0,0,1
12162,lr20230418171941_3_L_0frotate_15.jpg,0,0,0,0,0,0,1
12163,lr20230418171941_3_L_0frotate_16.jpg,0,0,0,0,0,0,1
12164,lr20230418171941_3_L_0frotate_17.jpg,0,0,0,0,0,0,1

In [16]:
counts = filtered_df.sum()
counts

id          01-2.jpg02-2.jpg03-2.jpg04-2.jpg05-2.jpg202210...
good                                                     4947
b_edge                                                    786
burr                                                      249
borken                                                    329
b_bubble                                                 1289
etc                                                      2381
no_lens                                                   120
dtype: object

In [19]:
droped_df.sum()

id          lr01-2.jpgud01-2.jpglrud01-2.jpglr02-2.jpgud02...
good                                                        0
b_edge                                                   2358
burr                                                      747
borken                                                    987
b_bubble                                                 3867
etc                                                       129
no_lens                                                  4440
dtype: object

In [17]:
new_df = filtered_df.copy()
new_df

,id,good,b_edge,burr,borken,b_bubble,etc,no_lens
0,01-2.jpg,0,0,0,0,1,0,0
1,02-2.jpg,0,0,0,0,1,0,0
2,03-2.jpg,0,0,0,0,1,0,0
3,04-2.jpg,0,0,0,0,1,0,0
4,05-2.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
9975,20230418171155_4_R_0.jpg,0,0,0,0,0,0,1
9976,20230418171507_2_L_0.jpg,0,0,0,0,0,0,1
9977,20230418171639_2_L_0.jpg,0,0,0,0,0,0,1
9978,20230418171826_3_L_0.jpg,0,0,0,0,0,0,1
9979,20230418171941_3_L_0.jpg,0,0,0,0,0,0,1

In [18]:
b_bubble_add_df = droped_df[droped_df['b_bubble'] == 1]
b_bubble_add_df

,id,good,b_edge,burr,borken,b_bubble,etc,no_lens
0,lr01-2.jpg,0,0,0,0,1,0,0
1,ud01-2.jpg,0,0,0,0,1,0,0
2,lrud01-2.jpg,0,0,0,0,1,0,0
3,lr02-2.jpg,0,0,0,0,1,0,0
4,ud02-2.jpg,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...
7096,udNone_20230508100255_2_R_1.jpg,0,0,0,0,1,0,0
7097,lrudNone_20230508100255_2_R_1.jpg,0,0,0,0,1,0,0
7104,lrNone_20230508113146_0_R_1.jpg,0,0,0,0,1,0,0
7105,udNone_20230508113146_0_R_1.jpg,0,0,0,0,1,0,0
7106,lrudNone_20230508113146_0_R_1.jpg,0,0,0,0,1,0,0

In [11]:
original_df.sum()

id          01-2.jpglr01-2.jpgud01-2.jpglrud01-2.jpg02-2.j...
good                                                     4947
b_edge                                                   3144
burr                                                      996
borken                                                   1316
b_bubble                                                 5156
etc                                                      2510
no_lens                                                  4560
dtype: object